[Unit]
Description=lh service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/sh -l %h/syscfg/lh/run.sh
