*#
*.aes
*.elc
*.log
*.hi
*.o
*.pyc
*.swp
*.DS_Store
*~
*.zwc
alacritty/alacritty.yml
alacritty/alacritty_raw_shell.yml
cache
cmus/*
doom/autoload*.el
emacs/.org-id-locations
emacs/auto-save-list
emacs/bookmarks
emacs/custom.el
emacs/elpa
emacs/eshell
emacs/history
emacs/ido.last
emacs/network-security.data
emacs/projectile-bookmarks.eld
emacs/projectile.cache
emacs/recentf
emacs/org-roam.db
emacs/tramp
emacs/transient
emacs/url
gpg
karabiner/assets
karabiner/automatic_backups
mplayer/mplayerplug-in.conf
ncmpcpp/config
ncmpcpp/keys
mpv/mpv.conf
mutt/hcache
nvim/.netrwhist
openvpn/*.ovpn
qutebrowser/autoconfig.yml
qutebrowser/bookmarks
qutebrowser/quickmarks
qutebrowser/qsettings
ssh/*
vim/.VimballRecord
vim/.netrwhist
vim/colors
vim/sessions
xmonad/.cabal-sandbox
xmonad/cabal.sandbox.config
xmonad/dist
xmonad/dist-newstyle
xmonad/.stack-work
xmonad/xmonad
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.state
xmonad/xmonad-session-rc
