*.log
*.hi
*.o
*.swp
cblrepo/haskell-*
emacs/auto-save-list
emacs/elpa
emacs/ido.last
gpg/.gpg-v21-migrated
gpg/private-keys-v1.d/
gpg/random_seed
mplayer/mplayerplug-in.conf
ncmpcpp/config
ncmpcpp/keys
mutt/hcache
vim/.VimballRecord
vim/.netrwhist
vim/colors
vim/sessions
xmonad/.cabal-sandbox
xmonad/cabal.sandbox.config
xmonad/dist
xmonad/shell.nix
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
