[submodule "alacritty/upstream"]
	path = alacritty/upstream
	url = https://github.com/alacritty/alacritty
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/extrakto"]
	path = tmux/plugins/extrakto
	url = https://git::@github.com/laktak/extrakto
[submodule "zsh/zcomet"]
	path = zsh/zcomet-upstream
	url = https://github.com/agkozak/zcomet
[submodule "font/tamsyn-mac-version"]
	path = font/tamsyn-mac-version
	url = https://github.com/roman0x58/tamsyn-mac-version.git
[submodule "doom-upstream"]
	url = https://github.com/doomemacs/doomemacs
