[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/extrakto"]
	path = tmux/plugins/extrakto
	url = https://git::@github.com/laktak/extrakto
[submodule "zsh/zcomet"]
	path = zsh/zcomet-upstream
	url = https://github.com/agkozak/zcomet
[submodule "doom-upstream"]
	path = emacs/doom-upstream
	url = https://github.com/doomemacs/doomemacs
[submodule "wezterm/upstream"]
	path = wezterm/upstream
	url = https://github.com/wez/wezterm
[submodule "clojure"]
	path = clojure
	url = https://github.com/practicalli/clojure-cli-config
