[submodule "zsh/zcomet"]
	path = zsh/zcomet-upstream
	url = https://github.com/agkozak/zcomet
[submodule "doom-upstream"]
	path = emacs/doom-upstream
	url = https://github.com/doomemacs/doomemacs
[submodule "wezterm/upstream"]
	path = wezterm/upstream
	url = https://github.com/wez/wezterm
[submodule "clojure"]
	path = clojure
	url = https://github.com/practicalli/clojure-cli-config
