{:deps {
    dev.weavejester/medley {:mvn/version "1.8.1"}}
 :paths [
    "git/hooks"]
 :tasks {
    test {:extra-paths [".", "tmux"]
          :extra-deps {io.github.cognitect-labs/test-runner
                       {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
          :task (exec 'cognitect.test-runner.api/test)
          :exec-args {:dirs ["."]}
          :org.babashka/cli {:coerce {:nses [:symbol]
                                      :vars [:symbol]}}}}}
