;; We don't need this per se; this is mainly to silence the error about not
;; having a project when invoking CIDER's cider-jack-in-clj command.
{:deps
 ;; "medley" is "[a] small collection of useful, mostly pure functions that
 ;; might not look out of place in the clojure.core namespace".
 {dev.weavejester/medley {:mvn/version "1.8.1"}}}
